<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<body>
          <!-- This is Navigation part -->
          <header>
                    <h1><a href="#" class="logo">My PortFolio</a></h1>

                    <nav>
                              <a href="#home">Home</a>
                              <a href="#profile">Profile</a>
                              <a href="#skills">Skills</a>
                              <a href="#projects">Projects</a>
                              <a href="#contact">Contacts</a>
                    </nav>
          </header>

          <!-- This is Home section -->
          <section id="home">
                    <div class="anuj">
                              <img src= "{{profilePic}}" alt="">
                    </div>


                    <div class="Introduction">
                              <h1>{{fname}}</h1>
                              <h3>{{profile}}</h3>
                              
                              <a href="{{cv}}" download>Download Resume</a>
                    </div>
          </section>
                        

          
          <section id="profile">

                    <div class="pic3">
                              <img src="images/profilePic.png" alt="">
                    </div>

                    <div class="discript">
                              <h1>Hello!!..</h1>
                              <p>{{introLine}} </p><br>

                              <h2><u>Education:-</u></h2><br>
                              <ul>
                                        <li>
                                                  <h4>{{education1}} </h4>
                                        </li>
                                        <pre>{{detail1}}</pre><br>
                                        
                                        <li>
                                                  <h4>{{education2}} </h4>
                                        </li>
                                        <pre>{{detail2}}</pre><br>

                                        <li>
                                                  <h4>{{education3}} </h4>
                                        </li>
                                        <pre>{{detail3}}</pre>
                              </ul>
                    </div>
          </section>
          
          <section id="skills">
                    <div class="programs">
                              <h1>Skills 😎</h1>

                              <p>  <img src="{{c}}" height="60px" width="60px" alt="">  <img src="{{cpp}}" height="60px" width="60px" alt="">  <img src="{{java}}" height="60px" width="60px" alt="">  <img src="{{mysql}}" height="60px" width="60px" alt="">  <img src="{{spring}}" height="60px" width="60px" alt=""></p>
                              <p>  <img src="{{html}}" height="60px" width="60px" alt="">  <img src="{{css}}" height="67px" width="53px" alt="">  <img src="{{js}}" height="60px" width="60px" alt="">  <img src="{{jq}}" height="60px" width="60px" alt="">  <img src="{{bs}}" height="60px" width="60px" alt=""></p>
                              <p>  <img src="{{angular}}" height="60px" width="60px" alt="">  <img src="{{node}}" height="60px" width="60px" alt="">  <img src="{{express}}" height="60px" width="60px" alt="">  <img src="{{mongo}}" height="60px" width="60px" alt=""></p>

                    </div>
          </section>


          <section id="projects">
                    <div class="Work">
                              <h1>Projects 💼</h1>

                              <div class="ProjectList">
                                        <ol>
                                                  <li> <a href="https://anujmangaonkar.github.io/portfolio.github.io/">{{project1}}</a>
                                                            <pre> {{ProDetails1}} </pre>
                                                  </li>

                                                  <li><a href="https://anujmangaonkar.github.io/NavDisha.github.io/">{{project2}}</a>
                                                            <pre> {{ProDetails2}} </pre>
                                                  </li>

                                                  <li>{{project3}}
                                                            <pre> {{ProDetails3}} </pre>
                                                  </li>

                                                  <li>{{project4}}
                                                            <pre> {{ProDetails4}}</pre>
                                                  </li>
                                        </ol>
                              </div>
                    </div>
          </section>


          <section id="contact">
                    <div class="Connect">
                              <h1>Contact 📞 </h1>
                              <div class="Connections">
                                        <pre><a href="https://www.facebook.com/"><img src="{{fb}}" height="80px" width="80px" alt=""></a> <a href="https://twitter.com/"><img src="{{tw}}"  height="80px" width="80px" alt=""></a> <a href="https://www.linkedin.com/"><img src="{{lkdn}}" height="80px" width="80px"  alt=""></a> <a href="https://github.com/"><img src="{{git}}" height="90px" width="90px"  alt=""></a></pre> </div>

                    </div>
          </section>
</body>
</html>


<router-outlet></router-outlet>
